.pokemon_card{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    border-radius: 1em;
    box-shadow: var(--shadow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.poke_name{
    display: grid;
    place-items: center;
    max-width: 300px;
    padding: 0 .5em;
    height: 35px;
    border-radius: .5em;
    color: var(--text-light);
    background-color: var(--bg-crystal);
}

.data_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokemon_data{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .7em;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    list-style: none;
    border-radius: 1em;
    background-color: var(--bg-white);
}

.pokemon_sprite{
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    background-image: url('../../assets/imgs/pokeball.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemon_sprite > img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.pokemon_sprite > img:hover{
    transform: scale(1.5);
    z-index: 10;
}

.type{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_card-container {
    width: 50px;
    height: 50px;
}




.bar_box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.bar_box > label{
    width: 60px;
    font-weight: bold;
}

.bar_box > progress{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1em;
}
/* Los pseudo-elementos usados por WebKit/Blink para dar estilo a otras partes del elemento <progress>:
    ::-webkit-progress-bar
    ::-webkit-progress-value
    ::-webkit-progress-inner-element
    ::-moz-progress-bar
    ::-ms-fill */

.bar_box > ::-webkit-progress-bar{
    background-color: #3c3c3c;
    border-radius: 1em;
}

.bar_box> ::-webkit-progress-value{
    border-radius: .5em;
}

/* Compatibility progress bar to Mozilla */
.bar_box> ::-moz-progress-bar{
    background: var(--first-color);
    border-radius: .5em;
}


.bar_box > span{
    width: 35px;
}


@media screen and (min-width: 589px){
    .pokemon_card {
        width: 350px;
    }
}