.pokemons_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white_nt);
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}

.filters_container {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 15;
}

.subheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: .5em;
    gap: 2em;
    width: 100%;
    padding: 2em 0;
    font-weight: bold;
    background-color: var(--bg-color);
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.search_container>input {
    width: 65%;
    height: 40px;
    padding: 0 1em;
    border: none;
    border-radius: 1em 0 0 1em;
    font-weight: bold;
    color: var(--text);
    background-color: var(--bg-white);
}

.search_container>input:focus {
    outline: none;
}

.search_container>button {
    position: relative;
    border-radius: 0 1em 1em 0;
    background-color: var(--first-color);
    font-weight: bold;
    color: var(--text-light);
    width: 35%;
    left: -2px;
    height: 40px;
    cursor: pointer;
}

.search_container > button:hover{
    box-shadow: var(--shadow-red);
    border: none;
}

.filter_bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--text);
}

.filter_bar>select {
    width: 70%;
    height: 40px;
    padding: 0 1em;
    font-weight: bold;
    border-radius: .5em;
    color: var(--text);
    background-color: var(--bg-color);
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    width: 100%;
    gap: 4em;
}

.pagination_container{
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5em 0;
    background-color: var(--bg-white);
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 35px;
}

.navigation > button{
    width: 60px;
    height: 100%;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--bg-color);
}

.navigation > button:disabled{
    opacity: .2;
    cursor: not-allowed;
}

.navigation > button:hover{
    color: var(--text-light);
    background-color: var(--first-color);
}


.navigation> span{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
    font-weight: bold;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 992px) {
    .subheader{
        flex-wrap: nowrap;
    }

    .search_container>input {
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .pokemons_container {
        max-width: 1366px;
        border-radius: .5em;
        margin: auto;
    }
}