:root{
    --black-shadow: rgba(0, 0, 0, 0.1);
    --black-strong-shadow: rgba(0, 0, 0, 0.25);
    --white-shadow: rgba(255, 255, 255, 0.1);
    --white-strong-shadow: rgba(255, 255, 255, 0.25);
    --white: #FFF;
    --dark-gray: #333;
    --dark-silver: #727272;
    --primary-blue: #007bff;
    --spanish-pink: #f9b9b7;
    --cliclamen: #f06c9b;
    --deep-champagne: #f5d491;
    --dark-skyblue: #96c9dc;
    --candel-blue: #61a0af;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

body {
    font-size: 0.875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/* Sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 var(--black-shadow);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--dark-gray);
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: var(--dark-silver);
}

.sidebar .nav-link.active {
    color: var(--primary-blue);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/*Navbar*/
.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: var(--black-strong-shadow);
    box-shadow: inset -1px 0 0 var(--black-strong-shadow);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: var(--white);
    background-color: var(--white-shadow);
    border-color: var(--white-shadow);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px var(--white-strong-shadow);
}
