.detail_layout{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5em;
    gap: 2em;
}

.hero_pokemon{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 650px;
    gap: 1em;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head_hero{
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: var(--text-light);
    width: 70px;
    height: 30px;
    padding: .4em;
    border-radius: 1em;
    background-color: var(--bg-crystal);
    z-index: 2;
}

.hero_pokemon .title{
    position: relative;
    font-size: 2.3em;
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
    top: calc(100% - 120%);
    max-width: 550px;
    padding: 0 .5em;
    margin-top: 2em;
    border-radius: 1em;
    background-color: var(--bg-crystal);
    z-index: 2;
}

.vector_bg{
    opacity: .5;
    position: absolute;
    width: calc(100vw - 10%);
    height: calc(100vh - 60%);
    animation: pulse 3s infinite linear;
    z-index: 0;
}

.sprite{
    display: flex;
    position: relative;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 480px;
    z-index: 10;
}

.sprite > img{
    width: 90%;
    object-fit: cover;
}

.sprite > img:hover{
    transform: scale(1.2);
    z-index: 20;
}

.stats_container{
    position: relative;
    display: flex;
    /* top: -7%; */
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    list-style: none;
    background-color: var(--bg-white);
    gap: 1em;
}

.stat_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em;
}

.types{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.type_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_container {
    width: 60px;
    height: 60px;
}

.type_icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 15px 5px #030303);
}

.stat_box > label{
    width: 150px;
}

.stat_box >progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1em;
    width: 50%;
}

.stat_box> ::-webkit-progress-bar {
    background-color: #3c3c3c;
    border-radius: 1em;
}

.stat_box> ::-webkit-progress-value {
    border-radius: .5em;
}

/* Compatibility progress bar to Mozilla */
.stat_box> ::-moz-progress-bar {
    background: var(--first-color);
    border-radius: .5em;
}

/* Not Found Styles */
.not_found-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

.sorry_msg {
    font-size: 2em;
    letter-spacing: 1em;
    color: rgb(252, 35, 64);
}

.error_img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.error_image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.error_num {
    font-weight: bold;
    font-size: 8em;
    filter: drop-shadow(0 36px 3px #000);
}

.error_image_container > img {
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 36px 3px #000);
}

.not_found {
    font-size: 1.5em;
    letter-spacing: .4em;
}

.back_btn {
    display: grid;
    place-content: center;
    width: 150px;
    height: 50px;
    border-radius: 1em;
    border: 1px solid;
}

.btn_link {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--text);
}

@keyframes pulse {
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.1) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (min-width: 498px) {
    .sprite{
        width: 350px;
    }

    .vector_bg{
        width: calc(100vw - 5%);
        height: calc(100vh - 25%);
    }

    .error_image_container {
        width: 200px;
    }

    .error_num {
        font-size: 10em;
    }
}

@media screen and (min-width: 789px) {
    .error_image_container {
            width: 300px;
        }
        .error_num {
            font-size: 18em;
        }
}

@media screen and (min-width: 1300px) {
    .not_found-view {
        max-width: 1366px;
        margin: auto;
    }

    .error_image_container {
        width: 450px;
    }

    .error_num {
        font-size: 24em;
    }
}